@import "../../uiKit/colors";
.postPage {
	background-color: white;
	flex: 1;
	padding: 40px 24px 24px;
	display: flex;
	flex-direction: column;
	.date {
		opacity: 0.8;
	}
	.title {
		margin: 4px 0 48px;
	}
	.subtitle {
		margin-bottom: 12px;
	}
	.description {
		margin-bottom: 36px;
	}
	.description,
	.content {
		font-size: 18px;
	}
	.content {
		ol,
		ul {
			padding: revert;
			li {
				list-style-type: decimal;
			}
		}
		img {
			display: block;
			width: auto;
			max-width: 100%;
			height: auto;
		}
		pre {
			background: #f5f5f5;
			padding: 20px;
		}
		blockquote {
			font-size: 1.4em;
			width: 60%;
			margin: 20px 0;
			font-family: Open Sans;
			font-style: italic;
			color: #555555;
			padding: 1.2em 30px 1.2em 75px;
			border-left: 8px solid $primary_main;
			line-height: 1.6;
			position: relative;
			background: #ededed;
		}

		blockquote::before {
			font-family: Arial;
			content: "\201C";
			color: $primary_main;
			font-size: 4em;
			position: absolute;
			left: 10px;
			top: -10px;
		}

		blockquote::after {
			content: '';
		}

		blockquote span {
			display: block;
			color: #333333;
			font-style: normal;
			font-weight: bold;
			margin-top: 1em;
		}
	}
	.linksWrap {
		margin-top: 36px;
		.link:not(:first-child) {
			margin-top: 4px;
		}
	}
	.authorWrap {
		margin-top: 48px;
		background-color: $gray_light;
		padding: 24px;
	}
	.authorInlineWrap {
		display: flex;
	}
	.authorData {
		margin-left: 16px;
	}
	.authorName {
		margin-bottom: 4px;
	}
	.authorName,
	.authorEmail {
		font-size: 18px;
	}
	.notFoundPost {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		.smile {
			font-size: 40px;
		}
		.title {
			margin: 4px 0 8px 0;
		}
		.description {
			opacity: .8;
		}
	}
}
