.chatWrap {
  flex-direction: row !important;
  .chat {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  .messagesWrap {
    flex: 1 0 auto;
    position: relative;
  }
  .emptyState {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
  }
}
