@import "../../../../uiKit/colors";

.header {
	background-color: $primary_main;
	position: relative;
	margin-top: -68px;
	padding-top: 68px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
	color: white;
	height: 100vh;
	z-index: 0;
	.content {
		position: relative;
		z-index: 3;
	}
	.title {
		font-weight: bold;
	}
	.subtitle {
		margin: 8px 0 24px 0;
	}
	.btn {
		background-color: white;
		border: none;
		&:hover {
			background-color: rgba(white, .9);
		}
	}
	.bg {
		position: absolute;
		display: block;
		max-height: 85vh;
		height: auto;
		width: auto;
		&:first-child {
			left: 0;
			bottom: 0;
		}
		&:nth-child(2) {
			right: 0;
			top: 0;
		}
	}
}
