@import "../../uiKit/shadows";

.profileHeader {
	display: flex;
	align-items: flex-start;
	margin: 40px 0;
	.profileBar {
		background-color: white;
		box-shadow: $light;
		border-radius: 6px;
		text-align: center;
		padding: 32px 24px;
		.avatar {
			margin: 0 auto;
		}
		.name {
			margin: 16px 0 8px 0;
		}
		.email {
			opacity: 0.9;
		}
	}
	.userPostsWrap {
		margin-left: 24px;
	}
}
