@import "../../uiKit/colors";
.textEditor {
	& > div:first-child {
		border-radius: 4px 4px 0 0;
	}
	& > div:last-child {
		border-radius: 0 0 4px 4px;
		div {
			min-height: 100px;
		}
	}
	div[data-placeholder] {
		font-family: "Roboto", sans-serif;
		font-size: 16px;
		&::before {
			font-style: normal;
		}
	}
	&.error {
		& > div {
			border-color: $red;
		}
		div[data-placeholder] {
			&::before {
				color: $red;
			}
		}
	}
}
